.media-img {
    max-width: 500px;
    max-height: 500px;
    border-radius: 6px;
    margin:0 10px 10px 20px;
    transition: transform .2s;
}

.media-img-wrapper {
    max-width: 500px;
    min-width:500px;
    text-align: center;
}

.orginal-price {
text-decoration:line-through;
}


@media(max-width:1023.98px) {

    .media {
        flex-direction: column;
    }

    .media-img{
       max-width:300px;
    }

    .media-img-wrapper {
        width: 100%;
        height: auto
    }
}