@page "/"
@using EcommerceBlazorWebApp.Components.Pages.Products

<PageTitle>Home</PageTitle>

<ProductList></ProductList>

@* <h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Subject="DevBlozer" ></SurveyPrompt>
 *@