@page "/"
@page "/{urlSlug}"
@inject IProductService _productService;

@using EcommerceBlazorWebApp.Components.Pages.Products

<PageTitle>Home</PageTitle>

<ProductList></ProductList>

@* <h1>Hello, world!</h1>

Welcome to your new app.

<SurveyPrompt Subject="DevBlozer" ></SurveyPrompt>
 *@

@code{

    [Parameter]
    public string? urlSlug { get; set; }

    protected override async Task OnParametersSetAsync()
    {

        await _productService.GetProducts(urlSlug);

    }

 }